services:
  # --- SERVICIO BACKEND (Ya funciona) ---
  backend:
    build:
      context: ./backend/app
      dockerfile: Dockerfile
    container_name: nest_chat_backend
    ports:
      - "3000:3000"
    volumes:
      - ./backend/app:/app
      - /app/node_modules
    # El comando tail es solo si necesitamos debuggear, pero ya funciona el normal.
    # Lo dejamos normal para que arranque el servidor:
    command: npm run start:dev
    stdin_open: true
    tty: true
    networks:
      - chat-network

  # --- SERVICIO FRONTEND (Nuevo) ---
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: next_chat_frontend
    ports:
      - "3001:3000"  # Mapeamos 3001 (PC) -> 3000 (Contenedor)
    volumes:
      - ./frontend:/app
      - /app/node_modules # Truco para evitar error de permisos
    environment:
      - WATCHPACK_POLLING=true # Ayuda al hot-reload en Windows/WSL
    stdin_open: true
    tty: true
    networks:
      - chat-network

networks:
  chat-network:
    driver: bridge